USE [ESTUDOS_SQL]
GO
/****** Object:  StoredProcedure [ETL].[PR_CADASTRA_CARGA_ETAPAS_ERRO]    Script Date: 12/17/2017 3:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ETL_MON].[PR_CADASTRA_CARGA_ETAPAS_ERRO]
 	 @ID_CARGA_EXECUCAO	INT
	--,@ID_CARGA_ETAPA	INT
	,@SSIS_SOURCE_ID	VARCHAR(500)	 
	,@SSIS_ERROR_CODE	INT
	,@DESC_ERRO			VARCHAR(MAX)

AS
BEGIN

	DECLARE @ID_CARGA_ETAPA	INT

	SET @ID_CARGA_ETAPA = (SELECT TOP 1 ID_CARGA_ETAPA
								FROM ETL_MON.CARGA_ETAPA A
								WHERE ID_CARGA_EXECUCAO = @ID_CARGA_EXECUCAO
									AND SSIS_SOURCE_ID = @SSIS_SOURCE_ID
								ORDER BY ID_CARGA_ETAPA DESC)

	UPDATE A
		SET  A.FLG_ERRO 		= 'S'
			,A.SSIS_ERROR_CODE	= @SSIS_ERROR_CODE
			,A.DESC_ERRO		= @DESC_ERRO		
			,A.HORA_ERRO		= GETDATE()
		FROM ETL_MON.CARGA_ETAPA A
		WHERE A.ID_CARGA_ETAPA = @ID_CARGA_ETAPA
			
	UPDATE B
		SET  B.FLG_ERRO			= 'S'
		FROM ETL_MON.CARGA_ETAPA A
		INNER JOIN ETL_MON.CARGA_EXECUCAO B ON A.ID_CARGA_EXECUCAO = B.ID_CARGA_EXECUCAO
		WHERE A.ID_CARGA_ETAPA = @ID_CARGA_ETAPA			
			
				
		--Envia notificação (caso seja necessário)	
		IF EXISTS 	(	SELECT 1
							FROM ETL_MON.CARGA_ETAPA A
								INNER JOIN ETL_MON.CARGA_EXECUCAO B ON A.ID_CARGA_EXECUCAO = B.ID_CARGA_EXECUCAO
								INNER JOIN ETL_MON.CARGA_TIPO	  C ON B.ID_CARGA_TIPO		   = C.ID_CARGA_TIPO
								WHERE A.ID_CARGA_ETAPA = @ID_CARGA_ETAPA	
									AND C.FLG_ENVIA_NOTIFICACOES_ERRO = 1
					)	
		BEGIN	
			EXEC [ETL_MON].[PR_NOTIFICA_EXECUCAO_CARGA]
				 @ID_CARGA_ETAPA	= @ID_CARGA_ETAPA
 				,@ID_CARGA_EXECUCAO	= NULL							 
				,@TIPO_TERMINO		= 'ERRO'	
			RETURN
		END				
				
END
GO
