USE [ESTUDOS_SQL]
GO
/****** Object:  Table [ETL].[CARGA_EXECUCAO]    Script Date: 12/17/2017 3:27:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ETL_MON].[CARGA_EXECUCAO](
	[ID_CARGA_EXECUCAO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARGA_TIPO] [int] NULL,
	[INICIO_EXECUCAO] [datetime] NULL,
	[TERMINO_EXECUCAO] [datetime] NULL,
	[FLG_ERRO] [varchar](1) NULL,
	[EXECUTADO_POR] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
