USE [ESTUDOS_SQL]
GO
/****** Object:  StoredProcedure [ETL].[PR_CADASTRA_CARGA_EXECUCAO]    Script Date: 12/17/2017 3:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ETL_MON].[PR_CADASTRA_CARGA_EXECUCAO]
	 @ID_CARGA_TIPO 	INT
	,@EXECUTADO_POR		VARCHAR(200)
	,@TIPO_EXECUCAO		VARCHAR(200)
	,@ID_CARGA_EXECUCAO INT = NULL
AS
BEGIN


	IF @TIPO_EXECUCAO NOT IN ('INICIO','TERMINO')
	BEGIN
		--RAISEERROR 'Parâmetro inválido para a variável TIPO_EXECUCAO. O valor dessa variável pode ser apenas ''INICIO'' ou ''TERMINO'''
		RETURN
	END

	--Cadastra a execução da carga
	IF @TIPO_EXECUCAO = 'INICIO'
	BEGIN
		INSERT INTO ETL_MON.CARGA_EXECUCAO (ID_CARGA_TIPO, INICIO_EXECUCAO, EXECUTADO_POR)
		VALUES (@ID_CARGA_TIPO, GETDATE(), @EXECUTADO_POR)
		
		SELECT ID_CARGA_EXECUCAO = CAST(SCOPE_IDENTITY() AS INT)--CAST(@@IDENTITY AS INT) 
		RETURN	
	END	

	--Atualiza o término da carga
	IF @TIPO_EXECUCAO = 'TERMINO'
	BEGIN
		UPDATE A
			SET A.TERMINO_EXECUCAO = GETDATE()
			FROM ETL_MON.CARGA_EXECUCAO A
			WHERE ID_CARGA_EXECUCAO = @ID_CARGA_EXECUCAO
			
		--Envia notificação (caso seja necessário)
		IF EXISTS 	(	SELECT 1
							FROM ETL_MON.CARGA_EXECUCAO A
								INNER JOIN ETL_MON.CARGA_TIPO	  B ON A.ID_CARGA_TIPO	   = B.ID_CARGA_TIPO
								WHERE A.ID_CARGA_EXECUCAO = @ID_CARGA_EXECUCAO
									AND B.FLG_ENVIA_NOTIFICACOES_SUCESSO = 1
					)	
		BEGIN
			EXEC [ETL_MON].[PR_NOTIFICA_EXECUCAO_CARGA]
				 @ID_CARGA_ETAPA	= NULL
				,@ID_CARGA_EXECUCAO	= @ID_CARGA_EXECUCAO							 
				,@TIPO_TERMINO		= 'SUCESSO'	
			RETURN			
		END	
				
		RETURN
			
	END
	
END

GO
