USE [ESTUDOS_SQL]
GO
/****** Object:  Table [ETL].[CARGA_ETAPA]    Script Date: 12/17/2017 3:27:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ETL_MON].[CARGA_ETAPA](
	[ID_CARGA_ETAPA] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARGA_EXECUCAO] [int] NULL,
	[SOURCE_NAME] [varchar](500) NULL,
	[SOURCE_DESCRIPTION] [varchar](500) NULL,
	[SOURCE_COMPLEMENTO] [varchar](500) NULL,
	[SSIS_SOURCE_ID] [varchar](500) NULL,
	[PACKAGE_NAME] [varchar](500) NULL,
	[INICIO_EXECUCAO] [datetime] NULL,
	[TERMINO_EXECUCAO] [datetime] NULL,
	[FLG_ERRO] [varchar](1) NULL,
	[SSIS_ERROR_CODE] [int] NULL,
	[DESC_ERRO] [varchar](max) NULL,
	[HORA_ERRO] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
