USE [ESTUDOS_SQL]
GO
/****** Object:  Table [ETL].[CARGA_TIPO]    Script Date: 12/17/2017 3:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ETL_MON].[CARGA_TIPO](
	[ID_CARGA_TIPO] [int] IDENTITY(1,1) NOT NULL,
	[PROJETO] [varchar](250) NULL,
	[DESCRICAO] [varchar](250) NULL,
	[FLG_ENVIA_NOTIFICACOES_SUCESSO] BIT NULL,
	[DESTINATARIOS_SUCESSO] [varchar](2000) NULL,
	[FLG_ENVIA_NOTIFICACOES_ERRO] BIT NULL,
	[DESTINATARIOS_ERRO] [varchar](2000) NULL,
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
