USE [ESTUDOS_SQL]
GO
/****** Object:  Table [ETL].[CARGA_ETAPA_DETALHE]    Script Date: 12/17/2017 3:27:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [ETL_MON].[CARGA_ETAPA_DETALHE](
	[ID_CARGA_ETAPA_DETALHE] [int] IDENTITY(1,1) NOT NULL,
	[ID_CARGA_ETAPA] [int] NULL,
	[DESCRICAO_1] [varchar](max) NULL,
	[DESCRICAO_2] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
