USE [ESTUDOS_SQL]
GO
/****** Object:  StoredProcedure [ETL_MON].[PR_CADASTRA_CARGA_ETAPAS]    Script Date: 12/17/2017 3:27:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ETL_MON].[PR_CADASTRA_CARGA_ETAPAS]
	 @ID_CARGA_EXECUCAO		INT
	,@SOURCE_NAME			VARCHAR(500)
	,@SOURCE_DESCRIPTION	VARCHAR(500)
--	,@SOURCE_COMPLEMENTO	VARCHAR(500)
	,@SSIS_SOURCE_ID		VARCHAR(500)
	,@PACKAGE_NAME			VARCHAR(500)
	,@TIPO_EXECUCAO			VARCHAR(200)

AS
BEGIN

	DECLARE  @ID_CARGA_ETAPA		INT
			,@SOURCE_COMPLEMENTO	VARCHAR(500)

	IF ISNULL(@ID_CARGA_EXECUCAO, 0) = 0	
	BEGIN
		RETURN
	END
	
	IF @TIPO_EXECUCAO NOT IN ('INICIO','TERMINO')
	BEGIN
		--RAISEERROR 'Parâmetro inválido para a variável TIPO_EXECUCAO. O valor dessa variável pode ser apenas ''INICIO'' ou ''TERMINO'''
		RETURN
	END
	
	
	--Desmembra o SOURCE_DESCRIPTION e SOURCE_COMPLEMENTO caso tenha um '|'
	IF @SOURCE_DESCRIPTION LIKE '%|%'
	BEGIN
		SET @SOURCE_COMPLEMENTO = SUBSTRING(@SOURCE_DESCRIPTION, CHARINDEX('|',@SOURCE_DESCRIPTION), LEN(@SOURCE_DESCRIPTION))
		SET @SOURCE_DESCRIPTION	= REPLACE(@SOURCE_DESCRIPTION, @SOURCE_COMPLEMENTO ,'')	
		SET @SOURCE_COMPLEMENTO = STUFF(@SOURCE_COMPLEMENTO, 1, 1, '')
	END	
	
	
	--Cadastra a etapa da carga
	IF @TIPO_EXECUCAO = 'INICIO'
	BEGIN
		INSERT INTO ETL_MON.CARGA_ETAPA (ID_CARGA_EXECUCAO, SOURCE_NAME, SOURCE_DESCRIPTION, SOURCE_COMPLEMENTO
									,SSIS_SOURCE_ID, PACKAGE_NAME, INICIO_EXECUCAO)
		VALUES (@ID_CARGA_EXECUCAO, @SOURCE_NAME, @SOURCE_DESCRIPTION, NULLIF(@SOURCE_COMPLEMENTO, '')
			   ,@SSIS_SOURCE_ID, @PACKAGE_NAME, GETDATE())
		
		--SELECT ID_CARGA_ETAPA = @@IDENTITY --SCOPE_IDENTITY()
	END

	
	--Atualiza o término da etapa
	IF @TIPO_EXECUCAO = 'TERMINO'
	BEGIN	
		--Forma Alternativa
		SET @ID_CARGA_ETAPA = (SELECT TOP 1 ID_CARGA_ETAPA
									FROM ETL_MON.CARGA_ETAPA A
									WHERE ID_CARGA_EXECUCAO = @ID_CARGA_EXECUCAO
										AND SSIS_SOURCE_ID = @SSIS_SOURCE_ID
									ORDER BY ID_CARGA_ETAPA DESC)
	
		UPDATE A
			SET  A.TERMINO_EXECUCAO = GETDATE()
			FROM ETL_MON.CARGA_ETAPA A
			WHERE ID_CARGA_ETAPA = @ID_CARGA_ETAPA	
	END	
	
END

GO
